/*Default Presets*/
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}




/*Others Config*/

.home {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-position: center;
    
}

.cover {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24%;
    box-sizing: border-box;
    position: fixed;
    

}





/*Navigation Bar*/


.nav_bar {
    width: 100%;
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
    color: white;

}

.content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    font-weight: lighter;
}
.content h1 {
    font-size: 54px;
}




/*Buttons Config*/
.navbtn{
    width: 240px;
    height: 48px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 24px;
    cursor: pointer;
    transition: all 1s ease;
}

.btnprimary {
    width: 240px;
    height: 48px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 24px;
    cursor: pointer;
    transition: all 1s ease;

}
.btnsecondary {
    width: 240px;
    height: 48px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 24px;
    cursor: pointer;
    transition: all 1s ease;
}
.btnprimary:hover {
    background-color: #f59794;;
    
}

.btnsecondary:hover {
    background-color: white;
    color: black;
    
}

.navbtn:hover{
    background-color: white;
    color: black;
}